<!DOCTYPE html>
<html>
  <head>
      <title>Immersive Web Weekly: Issue #{{ issue }}, {{date}}</title>
      <link rel="stylesheet" type="text/css" href="../../styles/issue.css" />
  </head>
  <body>
    <div id="content">
      <h1>Immersive Web Weekly</h1>
      <div class="info">Issue #{{issue}}, {{date}}</div>
      {{{ contents }}}
    </div>
  </body>
</html>
